#mask {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(81, 81, 81, 0.85);
}

#start-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 20px 40px;
    min-width: 35%;
    font-family: 'Poller One', cursive;

    background-color: rgb(40, 40, 40);
    color: white;
}
#start-form * {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 90%;
    text-align: center;
}
#start-form label {
    font-size: large;
}
#start-form input {
    display: block;
}

#start-form input[type=text] {
    outline: none;
    border: none;
}

#start-form-button-container {
    display: flex;
}
#start-form-button-container input[type=button] {
    flex: 1 1 100%;
    padding: 10px;
    margin: 0 5px;
    font-size: medium;
    
    background-color: white;
    border: none;
}
#start-form-button-container input[type=button]:hover {
    cursor: pointer;
}